@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Home</a>
